In [1]:
import pandas as pd

In [2]:
df = pd.ExcelFile("https://docs.google.com/spreadsheets/d/e/2PACX-1vR08Js9Sh4nNTMe5uBcsDUFedG5MOjIf90p6EHAr1_sWY5kpnI3xUvyPHzQpTEUrXz1pskaoc0uyea6/pub?output=xlsx")

In [3]:
df.sheet_names

['sexo',
 'sersalud',
 'pisos',
 'techos',
 'paredes',
 'cobertura',
 'financiamiento',
 'clavivp',
 'totcuart',
 'cuadorm',
 'ingr_ayugob',
 'ingr_perotropais',
 'income',
 'deuda',
 'forma_adqui',
 'estcon',
 'parent',
 'ident_madre',
 'ident_padre',
 'dhsersal1',
 'nacionalidad',
 'nivacad',
 'conact',
 'tamloc',
 'tie_traslado_trab',
 'med_traslado_trab1']

In [4]:
df.parse('income')

    id      name_en  interval_lower  interval_upper      name_es
0    1        <$10k               0           10000        <$10k
1    2    $10k-$15k           10000           15000    $10k-$15k
2    3    $15k-$20k           15000           20000    $15k-$20k
3    4    $20k-$25k           20000           25000    $20k-$25k
4    5    $25k-$30k           25000           30000    $25k-$30k
5    6    $30k-$35k           30000           35000    $30k-$35k
6    7    $35k-$40k           35000           40000    $35k-$40k
7    8    $40k-$45k           40000           45000    $40k-$45k
8    9    $45k-$50k           45000           50000    $45k-$50k
9   10    $50k-$55k           50000           55000    $50k-$55k
10  11    $55k-$60k           55000           60000    $55k-$60k
11  12    $60k-$65k           60000           65000    $60k-$65k
12  13    $65k-$70k           65000           70000    $65k-$70k
13  14    $70k-$75k           70000           75000    $70k-$75k
14  15    $75k-$80k           75000           80000    $75k-$80k
15  16    $80k-$85k           80000           85000    $80k-$85k
16  17    $85k-$90k           85000           90000    $85k-$90k
17  18    $90k-$95k           90000           95000    $90k-$95k
18  19   $95k-$100k           95000          100000   $95k-$100k
19  20  $100k-$125k          100000          125000  $100k-$125k
20  21  $125k-$150k          125000          150000  $125k-$150k
21  22  $150k-$200k          150000          200000  $150k-$200k
22  23      $200k +          200000          200000      $200k +

In [5]:
def inline_table(df, cube_name):
    print('<InlineTable alias="dim_inline_{}">'.format(cube_name))

    for item in df.itertuples():
        print('\t<Row>')
        print('\t\t<Value column="id">{}</Value>'.format(item.id))
        print('\t\t<Value column="name_en">{}</Value>'.format(item.name_en))
        print('\t\t<Value column="name_es">{}</Value>'.format(item.name_es))
        print('\t</Row>')

    print('</InlineTable>')

In [21]:
inline_table(pd.read_excel(df, "ingr_perotropais"), "housing_census")

<InlineTable alias="dim_inline_housing_census">
	<Row>
		<Value column="id">0</Value>
		<Value column="name_en">Undefined</Value>
		<Value column="name_es">Indefinido</Value>
	</Row>
	<Row>
		<Value column="id">1</Value>
		<Value column="name_en">Yes</Value>
		<Value column="name_es">SÃ­</Value>
	</Row>
	<Row>
		<Value column="id">2</Value>
		<Value column="name_en">No</Value>
		<Value column="name_es">No</Value>
	</Row>
	<Row>
		<Value column="id">9</Value>
		<Value column="name_en">Not Specified</Value>
		<Value column="name_es">No especificado</Value>
	</Row>
</InlineTable>

In [ ]:
stopwords_es = ['a', 'ante', 'con', 'contra', 'de', 'desde', 'la', 'lo', 'las', 'los', 'y']
        
#spanish
for ele in cols_es:
    df[ele] = df[ele].str.title()
    for ene in stopwords_es:
        df[ele] = df[ele].str.replace(' ' + ene.title() + ' ', ' ' + ene + ' ')